// COLORS
//Choose color palette ==> https://www.materialpalette.com/

$primary-color: #ffffff;
$primary-color-transparent: rgba(255, 255, 255, 0.3);
$dark-primary-color: rgb(175, 175, 175);
$light-primary-color: rgba(199, 199, 199, 0.5);
$accent-color: rgb(255, 255, 255);
$text_icons: #fff;
$primary-text: #ffffff;

//Navigation
$navbar-bg: rgba(255, 255, 255, 0.3);
$navbar-scroll-bg: rgba(255, 255, 255, 0.7);
$nav-link-color: #ffffff;
$nav-link-color-collapse: #818181;
$nav-link-color-scroll: #rgba(199, 199, 199, 0.5);
$nav-link-color-hover: #e2e2e2;
