// Typography variables

$font-size-small: 12px
$font-size-normal: 16px
$font-size-large: 20px
$font-size-big: 35px

$font-weight-light: 300
$font-weight-normal: 400
$font-weight-bold: 600
$font-weight-extra-bold: 900

// Header
$hero-img-size: 240px
$hero-logo-size: 120px

//Content
$section-bg: rgba(25, 160, 218, 0.76)

// Form
$form-width: 400px
$p-form-width: 500px

// Shadows
$navbar-shadow: 10px 8px 15px rgba(0,0,0,0.5)
$shadow: 10px 10px 7px rgba(0,0,0,0.5)
$shadow2: 5px 5px 7px rgba(0,0,0,0.5)

//Margins
$content-padding: 170px

//Blog heigth
$blog-height: 200px


 