// COLORS
//Choose color palette ==> https://www.materialpalette.com/

$primary-color: #ffffff;
$dark-primary-color: #b48259;
$light-primary-color: #717171;
$text_icons: #fff;
$primary-text: #212121;
$accent-color: #b48259;
$bg-color-primary: rgba(0, 187, 175, 0.302);
$background-tint: linear-gradient(rgba(148, 124, 53, 0.78), rgba(148, 124, 53, 0.78));

//Navigation
$navbar-bg: rgba(187, 108, 15, 0.55);
$navbar-scroll-bg: rgba(255, 255, 255, 0.7);
$nav-link-color: #ffffff;
$nav-link-color-scroll: #00bbae;
$nav-link-color-hover: #e2e2e2;

//Form
$form-info-color: rgba(0, 187, 212, 0.5);